@import "../../fontAwesome";
@import "../../colors";

.field > label {
    width: 12em;
    display: inline-block;
    line-height: 1.5em;
    color: $text-secondary;
    font-size: 13px;
    font-weight: 500;

    & .hint {
        &:before {
            color: $text-muted;
            margin-left: 0.5em;
            @include icon("question-circle");
        }

        &:hover:before {
            color: $primary;
            transform: scale(1.1);
            cursor: help;
        }

        &[title=""] {
            display: none;
        }
    }
}
