@import "core/mixins";
@import "core/fonts";
@import "core/colors";

.inspect-tab {
    & .inspect-tree-view:empty::after {
        content: "None";
        color: $text-muted;
        font-style: italic;
    }


    & li.tree-view-node {
        & > header {
            @include rem(font-size, 1rem);
            color: $text-primary;
            @extend .font-monospace;

            & .type-null {
                font-style: italic;
                color: $text-muted;
            }

            & .type-string {
                color: #3fb950;

                &:before {
                    content: "\"";
                }
                &:after {
                    content: "\"";
                }
            }

            & .type-boolean  {
                color: #79c0ff;
            }

            & .type-number {
                color: #f78166;
            }

            & .type-game-object-reference, & .type-game-object {
                font-weight: bold;
                color: $text-primary;
            }

            & .type-game-object-reference {
                text-decoration: underline;
                color: $primary;
            }

            & .type-list {
                color: #d29922;
            }

            & .type-dictionary {
                color: #bc8cff;
            }
        }

        &.highlighted {
            background: $primary-lightest;
        }
    }
}
