@import "../colors";
@import "../mixins";

.tabular ul.tabular-tabs {
    list-style-type: none;
    background: $bg;
    padding: 0.5em;
    border-bottom: 1px solid $border;
}

ul.tabular-tabs > li {
    display: inline;
}

.tabular-tab {
    border-bottom: 2px solid transparent;
    margin: 0 0.5em;
    padding: 0.5em 0;
    cursor: pointer;
    color: $text-secondary;
    font-size: 13px;
    font-weight: 500;

    &.active {
        border-bottom-color: $primary;
        color: $text-primary;
    }

    &:hover:not(.active) {
        color: $text-primary;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.tabular-content {
    position: absolute;
    overflow: scroll;
    top: 2.25em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $surface;

    & .tabular-tab-content {
        margin: 1em;
        display: block;
        opacity: 0;
        @include transition(opacity 150ms ease);

        &.active {
            opacity: 1;
        }
        &.hidden {
            display: none;
        }
    }
}
